.paylane-methods input{
		display:none;
	}

.paylane-methods input + label{
		display:inline-block;
		margin: 2% 1%;
		width: 30%;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		font-family:'Open Sans',sans-serif;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-color: #6E6E6E;
		}
                
#paylane-form {
    font-family:'Open Sans',sans-serif;
    color: #6E6E6E;
}

.paylane-methods input:checked + label{
    background-image: none;
    outline: 0;
    background-color:#FDD017;
    color: #6E6E6E;
    font-weight: 600;
}
#paylane-form .required {
    color:#6E6E6E;
    font-family:'Open Sans',sans-serif;
    font-size: 14px;
}
#payment_form_sepa input,
#payment_form_secure_form input,
#payment_form_credit_card input{
    font-family:'Open Sans', sans-serif!important;
    font-size: 14px;
}

#paylane-form select#expiration_month,
#paylane-form select#expiration_year, 
#paylane-form select#bank-code {
    font-size: 14px;
    border: none;
    padding: 1% 10%;
    line-height: auto;
    margin: 0;
}
#paylane-form .v-fix {
    float: left;
    width: 50%;
}
select[name="bank-code"] {
    font-family:'Open Sans',sans-serif;
    font-size: 14px;
    padding: 5px 15px;
    border: 0;
    width:50%;
}
